{% extends "base.html" %}

{% block main %}
      <h2>Contact Casita Sedona</h2>
      <p>
        We would love to hear from you! If you have any questions or would like to book a stay, please contact us using the information below.
      </p>
      <ul>
        <li>
          <strong>Phone:</strong> (000) 123-456789
        </li>
        <li>
          <strong>Email:</strong> casitasedona@example.com
        </li>
        <li>
          <strong>Address:</strong> 123 Main Street, Sedona, AZ 86336
        </li>
      </ul>
{% endblock %}
