{% extends "base.html" %}

{% block main %}
      <h2>Festival Events</h2>
      <p>
        Here are a few upcoming festivals in Sedona between September and December 2023:
      </p>
      <ul>
        <li>
          <strong>Sedona Jazz Festival</strong> - October 7-9, 2023: Enjoy three days of live jazz music from some of
          the best musicians in the world.
        </li>
        <li>
          <strong>Sedona Rock Climbing Festival</strong> - November 4-6, 2023: Test your skills on some of the best rock
          climbing in the world.
        </li>
        <li>
          <strong>Sedona Christmas Festival</strong> - December 1-3, 2023: Enjoy a festive weekend of Christmas
          shopping, caroling, and more.
        </li>
      </ul>
      <p>
        For more information on these events and other upcoming festivals in Sedona, please visit the Sedona Chamber of
        Commerce website.
      </p>
{% endblock %}
